/* body{
    overflow-x: hidden;
} */

.search_wrapper{
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 999px;
    background: #111;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: width 0.35s ease;
    overflow: hidden;
}

.search_wrapper input{
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    color: #fff;
    background: transparent;
    padding: 0 16px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.search_wrapper span{
    position: absolute;
    width: 52px;
    height: 52px;
    right: 0;
}

.search_wrapper span img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 2px
}

.search_wrapper.active{
    width: 200px;
}

.search_wrapper.active input{
    opacity: 1;
}

.bg_carousel{
    position: fixed;
    inset: 0;
    width: 5000vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: -1;
}

.bg_carousel .poke_bg{
    flex-shrink: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.bg_carousel .poke_bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pokemon_box{
    position: relative;
}

.pokemon_wrapper{
    position: relative;
    margin: 0 auto;
    width: 70vw;
    max-width: 420px;
    aspect-ratio: 1/1;
    overflow: hidden;
    transform: translateY(10%);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.pokemon_slider{
    display: flex;
    height: 100%;
    width: 100%;
}

.pokemon_box .pokemon_slider{
    transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.pokemon-card.active{
    outline: 3px solid gold;
}

.pokemon_slider > div{
    display: flex;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.pokemon_slider > div .name{
    position: relative;
    display: flex;
    height: 150px;
    width: 150px;
    border: transparent;
    flex-direction: row;
}

.pokemon_slider > div .name img{
    position: relative;
    top: 0;
    right: 0;
    width: 100px;
    height: 25px;
    transform: translateX(-70%);
}

@import url('https://fonts.googleapis.com/css?family=Lobster');
.pokemon_slider h2{
    position: relative;
    transform: translateX(30%);
    font-family: 'Lobster', cursive !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000; /* Black outline, change color as needed */
    
    /* Make the inside of the text transparent */
    -webkit-text-fill-color: transparent; 
    
    /* Standard property for fill color (for compatibility, though -webkit-text-fill-color is generally used here) */
    color: transparent;
}

.sprite-wrapper{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.sprite{
    position: absolute;
    margin: auto;
    inset:0;
    width: 75%;
    height: 75%;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.sprite.active{
    opacity: 1;
}

.mega-btn{
    position: absolute;
    top: 15%;
    left: 12%;
    width: 50px;
    aspect-ratio: 1/1;
    z-index:10;
    background: transparent;
    border: none;
}


.mega-btn img{
    width: 100%;
    height: auto;
    cursor: pointer;
}

.navigation{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70vw;
    max-width: 420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.navigation .prev-btn,
.navigation .next-btn{
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    border: 2px solid #111;
    border-radius: 50%;
    background: transparent;

    cursor: pointer;
    font-size: 20px;
    color: #111;
}

.navigation .prev-btn{
    transform: translateX(-120%);
}
.navigation .next-btn{
    transform: translateX(120%);
}

.chat-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70vw;
    max-width: 420px;
    margin: 20px auto;
}

.chat-container *,
.chat-container *::before,
.chat-container *::after {
    box-sizing: border-box;
}

.chat-container .chat-box{
    position: relative;
    background: #fff;
    width: 100%;
    height: 100px;
    padding: 10px;
    scroll-behavior: auto;
}

.chat-container input,
.chat-container button{
    position: relative;
    width: 100%;
    height: auto;
}