*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-size: 50px;

}

body{
    background-image: url("/static/Photos/Eye_background.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment:fixed;
}

.eye_container{
    margin-top: 20%;
    position: relative;
    display: flex;
    justify-content: center;
}

.result{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.confi{
    text-align: center;
}